/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }



  * {
    box-sizing: border-box; 
  }
  
  body {
    margin: 0; 
    font-weight: 500;
    font-family: 'HelveticaNeue';
  }
  
  section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #00CCF5;
    height: 100vh;
      background-image:url("https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=350");
      background-repeat:no-repeat;
    background-size:cover;}
  
    section:nth-of-type(2) {
      background-color: #FFCF00;
    }
    section:nth-of-type(3) {
      background-color: #F50076;
    }
    section:nth-of-type(4) {
      background-color: #FF7700;
    }
  
  .intro {
    height: 90vh;
  }
  
  .content {
    display: table-cell;
    vertical-align: middle;
  }
  
  h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 300;
  }
  
  p {
    font-size: 1.5em;
    font-weight: 500;
    color: #C3CAD9;
  }
  
  a {
    font-weight: 700;
    color: #373B44;
    position: relative;
    
    &:hover{ 
      opacity: 0.8;
    }
    
    &:active {
      top: 1px;
    }
  }
  
  footer {
    padding: 1% 5%;
    text-align:center;
    background-color: #373B44;
    color: white;
    
    a {
      color: #00ccf5;
      font-weight: 500;
      text-decoration: none;
    }
  }